Objetivo do desafio

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [4]:
df_pontuacao = df.groupby('estado_residencia')['pontuacao_credito'].agg(
    [ pd.Series.mode,
      pd.Series.median,
      pd.Series.mean,  
      pd.Series.std])

In [5]:
df_pontuacao.head()

                   mode  median        mean        std
estado_residencia
PR                  850     650  648.961294  98.607186
RS                  850     650  651.105143  95.136598
SC                  850     653  649.537653  97.233493

In [6]:
df_pontuacao.columns = ['moda','mediana','media','desvio_padrao']

In [7]:
df_pontuacao.T

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [8]:
df_pontuacao.round(2).to_json('submission.json')